/* 

orange #b2620b
dunkelrot #761c20
beige #d6d1b9

*/

@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Roboto:wght@400;700&display=swap');



* {
    box-sizing: border-box;
  }

.container {

    position: relative;
    display: block;
    padding: 35px;
    margin: 5px;
    
    border: 1px solid #aaa;
    border-radius: 5px;

    font-family: 'Roboto', sans-serif;;
    font-size: 16px;
    line-height: 1.5em;
    color: #2d2d2d;
}

.form * {
    box-sizing: border-box;
    line-height: 1.5em;
}

.company-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.company-name {
    margin-left: 320px;
}

.company-location {
    margin-right: 320px;
}

.letter-head {
    margin-bottom: 240px;
}

.recipient-adress {
    align-self: flex-start;
    margin-top: 120px;
    margin-left: 60px;
}

.first-line, .second-line , .third-line {
    display: flex;
    flex-direction: row;
}

.first-line > * , .second-line > * , .third-line > * {
    align-self: flex-start;
}

.form-item > input, .listings-item > input {

    -webkit-appearance: none;

    width: 100%;
    max-width: 425px;

    /* Fix for the appearance of Safari/iOS data fields*/
    min-height: calc(0.9em + (0.8 * 2) +0.6em);

    padding: 0.8em;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;;

    outline: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f8f7f4;
    transition: background 0.25s, border-color 0.25s, color 0.25s;
}

.form-item > input:focus, .listings-item > input:focus {
    background: #fff;
}

.form-item > input::placeholder, .listings-item > input::placeholder {
    color: #bbb;
}

/* Funktionalität JS */
.form-error, .quantity-error {
    color: #761c20;
    background-color: #fff8f8;
    border-color: #b2620b;
    visibility: hidden;
}

.form-item > input + .form-error, .listings-item > input + .quantity-error {
    visibility: visible;
}

.invoice-date {
    margin-left: 120px;
}

.subject-line {
    margin-bottom: 180px;
    margin-left: 120px;
    display: flex;
    justify-content: space-between;
}

.invoice-title {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 4em;
    color: #b2620b;
}

.invoice-id {
    color: #b2620b;
}

.customer-id {
    margin-right: 60px;
    font-weight: bold;
}

/* Positionierung % */
.legend {
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listings-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.payment-matters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 240px;
}

.bank-details, .invoice-due, .invoice-total {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.bank-title, .due-title, .total-title {
    font-weight: bold;
}

.customer-relations {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 4em;
    color: #761c20;
    position: absolute;
    right: 120px;
    bottom: 320px;
} 

.company-credentials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 480px;
    /* border-top: 1px solid #bbb; */
}

.company-item {
    align-self: flex-start;
}

.company-court, .company-ust, .company-url {
    font-weight: bold;
}

button {

}



